*.DS_Store
node_modules
.sass/cache

/magento-mongo/app/etc/local.xml
/magento-mongo/downloader/.cache
/magento-mongo/downloader/cache.cfg
/magento-mongo/downloader/connect.cfg
/magento-mongo/includes/src
/magento-mongo/media/catalog/product/cache
/magento-mongo/var

/magento-mysql/app/etc/local.xml
/magento-mysql/downloader/.cache
/magento-mysql/downloader/cache.cfg
/magento-mysql/downloader/connect.cfg
/magento-mysql/includes/src
/magento-mysql/media/catalog/product/cache
/magento-mysql/var